
<%= link_to("<< Back to Schools", schools_path, :class => 'back-link') %>

<div class ="schools delete">
  <h2>Delete School</h2>

  <%= simple_form_for(@school, :method => 'delete') do |f| %>

      <p class="center">Are you sure you want to permanently delete this School? </p>

      <p class="reference-name, center" ><%= f.object.name %></p>

       <%= f.submit("Delete School") %>
  <% end %>
</div>
